body {
  background-color: #fefefe;
  text-align: center;
  .navbar {
    background: #a19898;
    color: #e7dacb;
    height: 70px;
  }
  h1 {
    font-size: 40px;
    margin-top: 30px;
  }
}
